/* Basic styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

nav {
    background-color: #444;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a, nav select {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #444;
    font-size: 16px;
}

nav select {
    display: none;
}

section {
    padding: 20px;
    text-align: center;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
}

section div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.content img {
    width: 150px;
    height: 150px;
}

.description {
    width: 70%;
}

h2 {
    color: green;
}


@media only screen and (max-width: 768px) {
    nav select {
        display: inline-block;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: #555;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #777;
        width: 100%;
        box-sizing: border-box;
        color: #fff;
    }
    nav a {
        display: none;
    }
}

/* ------------------------------------------ */
@media only screen and (min-width: 769px) {
    section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    section img {
        width: 45%;
        margin-right: 20px;
    }
}
